<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
</head>
<body>
    <div style="font-size: x-large;">All Products</div>
<a href="/insert">Insert New Product</a><br><br><br>
{{/* {{range .}}
  ID: {{.ID}} Name: {{.Name}}<br>
  Price: {{.Price}}<br>
Quantity_in_stock: {{.Quantity_in_stock}}<br> */}}
  <div>
  <table border="1" cellspacing="0">
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Quantity_in_stock</th>
 <th> Unit_Price</th>
 <th>Update Link</th>
 <th> Delete</th>

  </tr>
{{range .}}

  <tr>
  <td>{{.ID}} </td>    
  <td>{{.Name}}</td>
  <td> {{.Price}}<br>
  <td> {{.Quantity_in_stock}}</td>
   <td><a href="/update/?idproducts={{.ID}}">Update</a></td>

<td>  <a href="/delete/?idproducts={{.ID}}">Delete</a></td>
  </tr>
   {{end}}
  </table>
  </div>

</body>
</html>